<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= link_to 'link', @video.link %>
  <%= @video.link %>
</p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @video.summary %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @video.recipe %>
</p>

<p>
  <strong>Comments:</strong>
  <% @video.comments.each do |comment| %>
    <li><%= comment.title %></li>
  <% end %>
</p>

<%= link_to 'Add Comment', new_video_comment_path(@video) %> |
<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
